{% extends 'base2.html' %}
{% load static %}
{% static "images" as baseURL %}

{% block content %}

<style>
  /* Style the tab */
  .tab {
    display: flex;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    justify-content: center;
    align-content: flex-start;
  }

  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 14px;
    transition: 0.3s;
    font-size: 17px;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }

  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
    border-bottom: 5px solid royalblue
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    border: 1px solid #ccc;
    border-top: none;
  }





  .profile-head {
    transform: translateY(5rem)
  }

  .cover {
    background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
    background-size: cover;
    background-repeat: no-repeat
  }

  body {
    background: #654ea3;
    background: linear-gradient(to right, #e96443, #904e95);
    min-height: 100vh;
    overflow-x: hidden;
    margin-top: 0
  }
</style>





<div class="row  px-4">
  <div class="col-md-10 mx-auto">
    {% for pro in users %}

    <div class="px-4 pt-0 pb-4 cover">
      <div class="media align-items-end profile-head">
        {% if pro.Profile_pic %}
        <div class="profile mr-3"><img src="{{pro.Profile_pic.url}}" alt="..." width="130"
            class="rounded mb-2 img-thumbnail"><a href="#" class="btn  btn-sm btn-block">Edit
            profile</a></div>
        {% else %}
        <div class="profile mr-3"><img src="{% static 'images/blank-profile.png' %}" alt="..." width="130"
            class="rounded mb-2 img-thumbnail"><a href="#" class="btn  btn-sm btn-block">Edit
            profile</a></div>
        {% endif %}
        <div class="media-body mb-5 text-white">
          <h4 class="mt-0 mb-0" style="color:white;">{{pro.Fullname}}</h4>
          <p class="small mb-4" style="color:gold; font-weight:bold"> <i class="fas fa-map-marker-alt mr-2"></i>{{pro.address}}</p>
        </div>
      </div>
    </div>

    <div class="tab">
      <button class="tablinks" onclick="openCity(event, 'settings')">Profile Settings</button>
      <button class="tablinks" onclick="openCity(event, 'my_house')">My House</button>
      <button class="tablinks" onclick="openCity(event, 'rented_house')">Rented House</button>
      <button class="tablinks" onclick="openCity(event, 'agreement')">Downloads</button>

    </div>

    <div id="my_house" class="tabcontent" style="border:none; width:100%">

      <div class="py-4 px-4 bg-white shadow rounded overflow-hidden">
        <section class="property-grid grid">
          <div class="container">
            <div class="row">
              {% for i in data %}
              <div class="col-md-4">
                <div class="card-box-a card-shadow">
                  <div class="img-box-a">
                    <a href="/rent/Detail/{{i.id}}"><img src="{{i.House_imgURL}}" alt="" class="img-a img-fluid"
                        style="width:850px; height:450px"></a>
                  </div>
                  <div class="card-overlay">
                    <div class="card-overlay-a-content">
                      <div class="card-header-a">
                        <h2 class="card-title-a">
                          <a href="#">{{i.Owner_Name}}
                            <br /> Location : {{i.city}}</a>
                        </h2>
                      </div>
                      <div class="card-body-a">
                        <div class="price-box d-flex">
                          <span class="price-a">{{i.Status}} | {{i.Price}} Rs</span>
                        </div>


                        <a href="/rent/Detail/{{i.id}}" class="link-a">House Details
                          <span class="ion-ios-arrow-forward"></span>
                        </a>
                        {%if i.Status == 'Booked' %}
                        <a style="margin-left:5px;text-decoration:underline" href="/rent/tenantDetail/{{i.Tenant_id}}"
                          class="link-a"> Tenant Details
                          <span class="ion-ios-arrow-forward"></span>
                        </a>
                        {%endif%}


                      </div>
                      <div class="card-footer-a">
                        <ul class="card-info d-flex justify-content-around">
                          <li>
                            <h4 class="card-info-title">Allowed For</h4>
                            <span>{{i.AllowedFor}}
                            </span>
                          </li>
                          <li>
                            <h4 class="card-info-title">City</h4>
                            <span>{{i.city}}</span>
                          </li>
                          <li>
                            <h4 class="card-info-title">House Type</h4>
                            <span>{{i.House_type}}</span>
                          </li>

                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              {% endfor %}

            </div>
          </div>
        </section>
      </div>




    </div>

    <div id="rented_house" class="tabcontent" style="border:none">

      <div class="py-4 px-4 bg-white shadow rounded overflow-hidden">
        <section class="property-grid grid">
          <div class="container">
            <div class="row">
              {% for i in rented_house %}
              <div class="col-md-4">
                <div class="card-box-a card-shadow">
                  <div class="img-box-a">
                    <a href="/rent/Detail/{{i.id}}"><img src="{{i.House_imgURL}}" alt="" class="img-a img-fluid"
                        style="width:850px; height:450px"></a>
                  </div>
                  <div class="card-overlay">
                    <div class="card-overlay-a-content">
                      <div class="card-header-a">
                        <h2 class="card-title-a">
                          <a href="#">{{i.Owner_Name}}
                            <br /> Location : {{i.city}}</a>
                        </h2>
                      </div>
                      <div class="card-body-a">
                        <div class="price-box d-flex">
                          <span class="price-a">{{i.Status}} | {{i.Price}} Rs</span>
                        </div>


                        <a href="/rent/Detail/{{i.id}}" class="link-a">House Details
                          <span class="ion-ios-arrow-forward"></span>
                        </a>
                        {%if i.Status == 'Booked' %}
                        <a style="margin-left:5px;text-decoration:underline" href="/rent/houseOwnerDetail/{{i.user_id}}"
                          class="link-a">Owner Details
                          <span class="ion-ios-arrow-forward"></span>
                        </a>
                        {%endif%}


                      </div>
                      <div class="card-footer-a">
                        <ul class="card-info d-flex justify-content-around">
                          <li>
                            <h4 class="card-info-title">Allowed For</h4>
                            <span>{{i.AllowedFor}}
                            </span>
                          </li>
                          <li>
                            <h4 class="card-info-title">City</h4>
                            <span>{{i.city}}</span>
                          </li>
                          <li>
                            <h4 class="card-info-title">House Type</h4>
                            <span>{{i.House_type}}</span>
                          </li>

                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              {% endfor %}

            </div>
          </div>
        </section>
      </div>




    </div>

    <div id="settings" class="tabcontent" style="border:none">


      <!-- Profile widget -->
      <div class="bg-white shadow rounded overflow-hidden">

        <div class="bg-light p-4 d-flex justify-content-end text-center">
          <ul class="list-inline mb-0">
            <li class="list-inline-item">

            </li>
            <li class="list-inline-item">

            </li>
            <li class="list-inline-item">

            </li>
          </ul>
        </div>
        <div class="px-4 py-3">
          <div>
            <h5 class="mb-2 ">About</h5>
            <div class="card mb-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Full Name</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{pro.Fullname}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{pro.Email}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Phone</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{pro.phone_no}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Date of Birth</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{pro.date_of_birth}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="d-flex align-items-center justify-content-between col-sm-12">
                    <a class="btn-sm mr-2 btn-info " target="__blank" href="/api/profile/update/">Update Profile</a>
                    <a class="btn-sm btn-info " target="__blank" style="float:right" href="" data-toggle="modal"
                      data-target="#ChngPassword">Change Password</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

    <div id="agreement" class="tabcontent" style="border:none">
      <div class="py-4 px-4 bg-white shadow rounded overflow-hidden">
        <section class="property-grid grid">
          <div class="container">
            <div class="row">
              {% for i in rented_house %}
              <div class="col-md-4">
                <div class="card-box-a card-shadow">
                  <div class="img-box-a">
                    <a href="/rent/Detail/{{i.id}}"><img src="{{i.House_imgURL}}" alt="" class="img-a img-fluid"
                        style="width:850px; height:450px"></a>
                  </div>
                  <div class="card-overlay">
                    <div class="card-overlay-a-content">
                      <div class="card-header-a">
                        <h2 class="card-title-a">
                          <a href="#">{{i.Owner_Name}}
                            <br /> Location : {{i.city}}</a>
                        </h2>
                      </div>
                      <div class="card-body-a">
                        <div class="price-box d-flex">
                          <span class="price-a">{{i.Status}} | {{i.Price}} Rs</span>
                        </div>



                        {%if i.Status == 'Booked' %}
                        <a style="margin-left:5px;text-decoration:underline" href="/rent/agreement_pdf/{{i.id}}"
                          class="link-a">Download Agreement
                          <span class="ion-ios-arrow-forward"></span>
                        </a>
                        {%endif%}


                      </div>
                      <div class="card-footer-a">
                        <ul class="card-info d-flex justify-content-around">
                          <li>
                            <h4 class="card-info-title">Allowed For</h4>
                            <span>{{i.AllowedFor}}
                            </span>
                          </li>
                          <li>
                            <h4 class="card-info-title">City</h4>
                            <span>{{i.city}}</span>
                          </li>
                          <li>
                            <h4 class="card-info-title">House Type</h4>
                            <span>{{i.House_type}}</span>
                          </li>

                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              {% endfor %}

            </div>
          </div>
        </section>
      </div>

    </div>



    {%endfor%}

  </div>
</div>





<!--- Change Password Form --------------->
  <div class="modal" id="ChngPassword" role="document">
    <div class="modal-dialog modal-md">

      <div class="modal-body">
        <div class="modal-content">
          <div class="form-v4">
            <div class="page-content">
              <div class="form-v4-content">

                <form class="form-detail" action="#" id="changePwdForm">
                  {% csrf_token %}
                  <button type="button" class="close" id="ClosechangePwdModal" data-dismiss="modal">&times;</button>
                  <h2>CHANGE PASSWORD FORM</h2>
                  <div class="form-group">
                    <div class="form-row form-row-1 ">
                      <label for="old_password">Old Password</label>
                      <input type="password" name="old_password" id="old_password" class="input-text" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="form-row form-row-1 ">
                      <label for="password">New Password</label>
                      <input type="password" name="password" id="new_password" class="input-text" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="form-row form-row-1">
                      <label for="comfirm_password">Comfirm Password</label>
                      <input type="password" name="comfirm_password" id="comfirm_password" class="input-text" required>
                    </div>
                  </div>
                  <div class="form-row-last">
                    <input type="submit" onclick="OnPassChange()" name="register" class="register" value="Confirm">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!---- End Registration Form -------->


  <!------script ends -->
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

  <script type="text/javascript">
    // just for the demos, avoids form submit

    jQuery.validator.setDefaults({
      debug: true,
      success: function (label) {
        label.attr('id', 'valid');
      },
    });
    $("#changePwdForm").validate({
      rules: {
        password: "required",
        comfirm_password: {
          equalTo: "#new_password"
        }
      },
      messages: {
        password: {
          required: "Please enter a password"
        },
        comfirm_password: {
          required: "Please enter a password",
          equalTo: "Wrong Password",

        }
      }
    });
  </script>



  <script>
    function openCity(evt, house) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(house).style.display = "block";
      evt.currentTarget.className += " active";
    }
  </script>

  {% endblock %}
